*{
    font-family: 'Catamaran', sans-serif;

}
.main-navbar .navbar{
    font-size: 12px;
    align-items: center;
    background-color: rgba(236,245,244,255);
    
}
.main-navbar .navbar  img{
    width: 60px;
}
.top-logo{
    display: flex;
    
}
.top-logo li a i{
    padding: 10px;
    color: blue;

}
.nav-item a{
    padding-left: 10px;
    padding-right:10px ;
    align-items: center;
    
}
.icons span{
    align-items: center;
    padding-left: 10px;
    padding-right:10px ;
    color: black;
}
.hero-1{
    position: relative;
}
.hero-1 img.bg-1{
    width: 100%;

}
.hero-1 img.bg-2{
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 40%;

}

.hero-1 img.bg-3{
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 40%;

}
.hero-1-content{
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%,-50%);
}
.hero-1-content a{
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    background-color: grey;
    color: white;
    border-radius: 40px;
}

.benifits {  
    margin-top: 30px;
    margin-bottom: 30px;
}
.benifits h3{
    font-size: medium;
    display: inline;
}
.top-cards h2{
    font-size: 22px;
}
.top-cards p{
    font-size: 10px;
}
.card {
    position: relative;
    border:none;
}
.overlay-1{
    position: absolute;
    top: 5px;
    left: 5px;

}
.overlay-2{
    position: absolute;
    top: 5px;
    left: 5px;

}
.overlay-1 p{
    color: white;
    background-color: red;
    font-size: 10px;
    padding: 3px;
    border-radius: 3px;


}
.overlay-2 p{
    color: white;
    background-color:grey;
    font-size: 10px;
    padding: 3px;
    border-radius: 3px;


}

.card-body {
    flex: 1 1 auto;
    padding: 0;
    color: var(--bs-card-color);
}
.bx{
    color: goldenrod;
}
.card-body a{
    text-decoration: none;
    border: 3px;
    border-radius: 3px solid;
    color: black;
}
.card-body a p{
    display: inline;
    padding-top:  2px;
    padding-left: 4px;
    padding-right: 4px; 
    font-size: 12px;
    border: 1px solid;
}
a .card-text {
    text-decoration: line-through;
    font-size: 13px;

}
.grid-1 .container{
    margin-top: 25px;
    height: 800px;
    display: grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 12px;
    column-gap: 12px;

}
.item{
    background-color:rgba(236,245,244,255);
}
.item img{
    width: 100%;
}
.item-1{
    background-color:rgba(236,245,244,255);
    position: relative;
}
.item-1 img.gbg-1 {
    width: 72%;
    position: absolute;
    top: 58%;
    left: 80%;
    transform: translate(-50%,-50%);
}
.item-1 img {
    width: 42%;
    position: absolute;
    top: 48%;
    left: 70%;
    transform: translate(-50%,-50%);
}
.item-1 .img1-overlay{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);

}
.item-1 .img1-overlay a{
   text-decoration: none;
   color: black;

}
.item-2{
    background-color: rgba(236,245,244,255);
    grid-row-start:1;
    grid-row-end: 3;
    grid-column-start: 2;
    position: relative;
}
.item-2 img.gbg-1 {
    width: 90%;
    position: absolute;
    top: 69%;
    left: 53%;
    transform: translate(-50%,-50%);
}
.item-2 img {
    width: 80%;
    position: absolute;
    top: 69%;
    left: 53%;
    transform: translate(-50%,-50%);
}
.item-2 .img2-overlay {
    position: absolute;
    top: 20%;
    left: 46%;
    transform: translate(-50%,-50%);
}
.item-2 .img2-overlay a{
   text-decoration: none;
   color: black;

}


.item-3{
    background-color:rgba(236,245,244,255);
    position: relative;
}
.item-3 img.gbg-1 {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 85%;
    transform: translate(-50%,-50%);
}
.item-3 img {
    width: 45%;
    position: absolute;
    top: 49%;
    left: 77%;
    transform: translate(-50%,-50%);
}
.item-3 .img3-overlay {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.item-3 .img3-overlay a{
   text-decoration: none;
   color: black;

}

.item-4{
    background-color: rgba(236,245,244,255);
    grid-row-start:2;
    grid-row-end: 5;
    grid-column-start: 1;
    position: relative;
}
.item-4 img.gbg-1 {
    width: 60%;
    position: absolute;
    top: 42%;
    left: 55%;
    transform: translate(-50%,-50%);
}
.item-4 img {
    width: 50%;
    position: absolute;
    top: 31%;
    left: 53%;
    transform: translate(-50%,-50%);
}
.item-4 .img4-overlay {
    position: absolute;
    top: 77%;
    left: 51%;
    transform: translate(-50%,-50%);
}
.item-4 .img4-overlay a{
   text-decoration: none;
   color: black;

}
.item-5{
    background-color:rgba(236,245,244,255);
    position: relative;
    grid-row-start:3 ;
}
.item-5 img.gbg-1 {
    width: 60%;
    position: absolute;
    top: 85%;
    left: 78%;
    transform: translate(-50%,-50%);
}
.item-5 img {
    width: 60%;
    position: absolute;
    top: 85%;
    left: 67%;
    transform: translate(-50%,-50%);
}
.item-5 .img5-overlay {
    position: absolute;
    top: 35%;
    left: 34%;
    transform: translate(-50%,-50%);
}
.item-5 .img5-overlay a{
   text-decoration: none;
   color: black;

}
.item-6{
    background-color: rgba(236,245,244,255);
    grid-row-start:2;
    grid-row-end: 5;
    grid-column-start: 3;
    position: relative;
}
.item-6 img.gbg-1 {
    width: 65%;
    position: absolute;
    top: 68%;
    left: 53%;
    transform: translate(-50%,-50%);
}
.item-6 img {
    width: 65%;
    position: absolute;
    top: 68%;
    left: 53%;
    transform: translate(-50%,-50%);
}
.item-6 .img6-overlay {
    position: absolute;
    top: 20%;
    left: 47%;
    transform: translate(-50%,-50%);
}
.item-6 .img6-overlay a{
   text-decoration: none;
   color: black;

}
.hero-2{
    position: relative;
}
.hero-2 img.bg-1{
    width: 100%;
    margin-top: 20px;

}
.hero-2 img.bg-2{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 40%;

}

.hero-2 img.bg-3{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 40%;

}
.hero-2-content{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.hero-2-content h4{
    display: inline;
}
.hero-2-content h5{
    display: inline;
    text-decoration: line-through;
    margin-left: 5px;
    margin-right: 5px;
}
.hero-2-content a{
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 5px;
    background-color: grey;
    color: white;
    border-radius: 40px;
}
.flash-sale-timer p{
    margin-top: 10px;

}
#clockdiv{
    display: flex;
}
.wrapper{
    background: white;
    color: black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
.main-cards{
    margin-top: 20px;
}
.main-cards .card{
    margin-bottom:15px ;
}
.trends-info .card{
    position: relative;
    margin-bottom: 35px;
    margin-top:50px;
}
.trends-info .card .card-body{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.trends-info .card .card-body a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}
.catagories .card .card-body h5{
    margin-top: 8px;
    font-size: 20px;
    text-align: center;
}
.catagories .card .card-body p{
    margin-top: 4px;
    font-size: 15px;
    text-align: center;
}
.grid-2{
    margin-top: 50px;
}
.grid-2 .grid-2-1 .card {
    position: relative;
}
.grid-2 .grid-2-1 .card  .card-body{
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: white;
}
.grid-2 .grid-2-1 .card  .card-body p{
font-size: 12px;
}
.grid-2 .grid-2-2 .card{
    border: 1px solid ;
    padding: 20px;
    padding-bottom: 75px;
}
.grid-2 .grid-2-2 .card .card-body p.card-text{
   font-size: 12px;
    
}
.grid-2 .grid-2-2 .card .card-body a{
    text-decoration: none;
    color: black;
    
}
.bottom-cards{
    margin-top: 75px;
}
.bottom-cards h2{
    text-align: center;
    margin-bottom: 25px;
}





















































//
.hero-3{
    position: relative;

} 
.hero-3 img{
    width: 100%;

} 
.hero-3 .hero-3-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero-3 .hero-3-content h1{
    font-size: 120px;
}
.hero-3 .hero-3-content p{
    font-size: 50px;
    text-align: center;
}
.shop-main-cards{
    margin-bottom: 30px;
}
.shop-main-cards .card{
    margin-bottom: 20px;
}
.shop-main-cards .shop-main-cards-info{
    margin-top: 20px;
}
.shop-main-cards .shop-main-cards-info p{
   display: inline;
}
.shop-main-cards .shop-main-cards-info a{
    text-decoration: none;
    color: black;

    
}
.shop-main-cards .shop-main-cards-info h5.one{
    display: inline;
    margin-left: 200px;
    margin-right: 10px;
}
 .shop-main-cards .shop-main-cards-info h5{
    display: inline;
    margin-right: 10px;
}
.shop-main-cards .shop-main-cards-info .card{
    margin-bottom:15px ;
}
.shop-main-cards .shop-main-cards-info p.two{
     margin-left: 240px;
    display: inline;
 }
 .shop-main-cards .shop-main-cards-info p.two i{
   display: inline;
}
.bottom-button{
    text-align: center;

}
.bottom-button a {
    text-decoration: none;
    color: black;
    padding: 8px;
    border: 1px solid;
    border-radius: 60px;
}


































@media screen and (min-width:0px) and (max-width:575px) {
    .shop-main-cards .shop-main-cards-info p.two {
        
        display: none;
    }
    .shop-main-cards .shop-main-cards-info a  {
        font-size: 5px;

    }
    .shop-main-cards .shop-main-cards-info h5.one {
        display: inline;
        margin-left: 11px;
        margin-right: 10px;
        font-size: 5px;
    }
    .hero-3 .hero-3-content {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hero-3 .hero-3-content h1 {
        font-size: 57px;
        text-align: center;
    }
    .hero-3 .hero-3-content p{
        font-size: 25px;
        text-align: center;
    }
    
}
@media screen and (min-width:576px) and (max-width:768px) {
    .shop-main-cards .shop-main-cards-info p.two {
        
        display: none;
    }
.shop-main-cards .shop-main-cards-info h5.one {
    display: inline;
    margin-left: 14px;
    margin-right: 10px;
}
    .hero-3 .hero-3-content {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hero-3 .hero-3-content h1 {
        font-size: 95px;
        text-align: center;
    }
    
    
}
@media screen and (min-width:769px) and (max-width:991px) {
.shop-main-cards .shop-main-cards-info p.two {
    margin-left: -417px;
    display: inline; 
}
    .hero-3 .hero-3-content {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hero-3 .hero-3-content h1 {
        font-size: 95px;
        text-align: center;
    }
    .hero-3 .hero-3-content p{
        font-size: 50px;
        text-align: center;
    }
    
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .shop-main-cards .shop-main-cards-info p.two {
        margin-left: 58px;
        display: inline;
    }
    .hero-3 .hero-3-content {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hero-3 .hero-3-content h1 {
        font-size: 95px;
        text-align: center;
    }
    .hero-3 .hero-3-content p{
        font-size: 50px;
        text-align: center;
    }
    
}